body {
    text-align: center;
    font-family: cursive;
    background-image: url("back1.jpg");
    background-repeat: no-repeat;
    background-position: center top 0px;
    background-size: cover;
}
  
form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 100px;
    
}

label {
    margin-bottom: 15px;
    color: rgb(30, 189, 189);
    font-size: 30pt;
    font-weight: 500;
    text-align: center;
}

#teamname1 {
    display: block;
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid rgb(235, 180, 16);
}

#teamname2 {
    display: block;
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid rgb(235, 180, 16);
}

#gridsize {
    display: block;
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid rgb(235, 180, 16);
    margin: 0 auto;
}
#teammembers {
    display: block;
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid rgb(235, 180, 16);
    margin: 0 auto;
}

#start {
    display: block;
    margin: 0 auto;
    margin-top: -30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #14a2d5;
    color: black;
    border: 2px solid black;
    /* Add "1px solid" to specify the border style */
    border-radius: 5px;
    cursor: pointer;
}

#start:hover {
    background-color: #f47f58;
}

button[type="submit"] {
    align-items: center;
}



